@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,100;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
  margin: 0;
  padding: 0;
  position: relative;
}

section {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 3%;
  z-index: 1;
  text-align: center;
}

.js-clock {
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
  line-height: 24px;
  color: #b6c8cf;
  margin: 0 20px 50px 20px;
}

h3 {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 12px;
  color: #f5df4d;
  margin-bottom: 20px;
  text-align: left;
}

.image {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  z-index: 0;
}

.image #bg,
.image #moon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.image #cloud1 {
  position: absolute;
  top: 100px;
  left: 50px;
  max-width: 600px;
  z-index: 2;
}

.image #cloud2 {
  position: absolute;
  top: 200px;
  right: 50px;
  max-width: 600px;
  z-index: 2;
}

.image #tree {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 266px;
  background: url(images/tree.png);
  z-index: 10;
}

h1,
h4 {
  font-family: "Lato", sans-serif;
}

h1 {
  color: #b6c8cf;
  font-size: 15px;
  font-weight: 100;
}

h4 {
  color: #f5df4d;
  font-size: 36px;
  font-weight: 700;
  margin: 20px;
}

.form,
.sayHello {
  display: none;
}

form input {
  width: 35%;
  padding: 15px 0;
  text-align: center;
  border-radius: 7px;
  border: none;
  margin: 10px;
}

ul {
  margin: 20px 0;
  height: 200px;
  overflow-y: scroll;
}

ul li {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  list-style: none;
  transition: all 0.5s linear;
}

ul li button {
  cursor: pointer;
  border: none;
  background: transparent;
  padding-right: 10px;
}

ul li span {
  color: #fff;
}

.footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  font-size: 12px;
  color: #ccc;
  text-align: center;
  z-index: 50;
}

.footer span {
  color: #f5df4d;
}

.footer a {
  text-decoration: none;
  color: #ccc;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

@media all and (max-width: 750px) {
  h2 {
    font-size: 12px;
    line-height: 16px;
  }
  h3 {
    font-size: 10px;
  }
  h4 {
    font-size: 26px;
    margin: 0;
  }
  form input {
    width: 70%;
  }
  ul {
    margin: 0;
    height: 812px;
    position: relative;
  }
  ul::after {
    content: "";
    display: block;
    width: 100%;
    height: 812px;
    position: absolute;
    top: 0;
    background: #072537;
    opacity: 0.5;
    z-index: -1;
  }
  ul li {
    height: 30px;
  }
  ul li span {
    color: #fff;
  }
  .footer {
    width: 80%;
    font-size: 11px;
  }
  .image #moon {
    object-fit: contain;
    top: -130px;
    right: 100px;
  }
  .image #tree {
    width: 250%;
  }
}
